<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Do not copy over your own web.config!! -->
	<!-- Merge the <appSettings> section manually.  -->
	<appSettings>
		<add key="CdnEnabled" value="true"/>
		<add key="CdnSmallDomain" value=""/> <!-- Assets < 300 KB --> <!-- ex. cd-sm.examplecdn.com -->
		<add key="CdnLargeDomain" value=""/> <!-- Assets > 300 KB --> <!-- ex. cd-lg.examplecdn.com -->
		<add key="CdnForceSsl" value="false"/>
		<add key="CdnDisallowedUrls" value="/admin/"/>
		<add key="CdnXPathHtmlToReplace" value="//script[@src] | //img[@src] | //link[@href] | //meta[@content] | //@*[starts-with(local-name(),'data-')]"/> <!--EX: //script[@src] | //img[@src] | //link[@href] | //meta[@content] | //@*[starts-with(local-name(),'data-')] -->
		<add key="CdnSmallFileExtensionsToMatch" value=".js,.css,.png,.jpg,.jpeg,.ico"/>
		<add key="CdnLargeFileExtensionsToMatch" value=".mp4"/>
		<add key="CdnFilePathsToMatch" value="/laughlin/,CMSPages/GetResource.ashx,/favicon.ico,/apple-touch-icon.png"/>
		<add key="CdnFilePathsToIgnore" value=""/>
	</appSettings>
	<system.web>
	<!-- Merge the <httpModules> section manually.  -->
	<httpModules>
		<add name="CdnModule" type="CdnModule, App_Code"/>
	</httpModules>
	<system.webServer>
	<!-- Merge the <modules> section manually.  -->
		<modules runAllManagedModulesForAllRequests="true">
			<add name="CdnModule" type="CdnModule, App_Code"/>
		</modules>
	</system.webServer>
</configuration>